.DS_Store
checkpoints/
vis/
*.zip
*.jpg
*.tif
*.tiff
*.pth
*/*.pth
*/*/*.pth
torch.egg-info/
*/**/__pycache__
docs/src/**/*
*/*.pyc
*/**/*.pyc
*/**/**/*.pyc
*/**/**/**/*.pyc
*/**/**/**/**/*.pyc
*/*.so*
*/**/*.so*
*/**/*.dylib*
*.npy
*.npz
*~
.idea
__pycache__